<h1>Please choose one</h1>
<input type="number" placeholder="id" [(ngModel)]="frmId" /><br/>
<select [(ngModel)]="whichCategory">
  <option *ngFor="let option of choices ">{{option.cat}}</option>
</select>
<button (click)="handleClick()">Submit</button>

<ul [hidden]="listHidden">
  <li>Name: {{model.name}}</li>
  <li>Height: {{model.height}}</li>
  <li *ngIf="whichCategory=='people'">Height: {{model.height}}</li>
  <li *ngIf="whichCategory=='planets'">Rotation Period: {{model.rotation_period}}</li>
</ul>

<ul>
  {{model |json}}
</ul>
